<!--Navigation Bar-->
<nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Coursera</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
        </ul>
        <ul class="nav navbar-nav pull-right">
            <li class="active"><a href="#">UserName</a></li>
            <li><a href="#">Sign Out</a></li>
        </ul>
    </div>
</nav>


<!--Search Area-->
<div class="container" ng-controller="HomeController">
    <div class="row">
        <div class="col-sm-3 col-md-3 col-lg-3">
            <code>Work in Progress, ETA 3/14</code>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 search-mid">
            <div class="input-group">
                <input ng-model="searchkey"
                       type="text" class="form-control" placeholder="Search catalog...">
                <span class="input-group-btn">
                    <button ng-click="search(searchkey)"
                            class="btn btn-primary" type="button"><b>Go !</b></button></span>
            </div><!-- /input-group -->
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3"></div>
    </div>

    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Thumbnail</th>
            <th>Title</th>
            <th>LinkID</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="video in data.items">
            <td><img ng-src="{{video.snippet.thumbnails.default.url}}"></td>
            <td>{{video.snippet.title}}</td>
            <td>{{video.id.videoId}}</td>
        </tr>

        </tbody>
    </table>

</div>


<span class="glyphicon glyphicon-search" aria-hidden="true"></span>