<h1 class="page-header">Forms</h1>
<div>
    <ul class="nav nav-tabs">
        <li ng-class="{'active' : $location.url() == '/form'}"><a href="#/form">Forms</a></li>
        <li ng-class="{'active' : $location.url() == '/fields'}"><a href="#/fields">Fields</a></li>
    </ul>
    <!--===========form==========-->
    <form>
        <table class="table table-striped table-responsive table-hover">

            <!--Table Head-->
            <thead ng-switch="fieldType">
            <tr>

                <th>
                    <select class="form-control"
                            ng-model="fieldType"
                            ng-options="option for option in options">
                    </select>
                </th>

                <th>
                    <button class="btn btn-primary"
                            ng-click="addField(fieldType)">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </th>
            </tr>
            </thead>

            <!--Table Body-->
            <tbody id="tbody-sortable">

            <tr ng-repeat="field in fields">

                <td ng-if="field.type=='TEXT'">
                    <label>{{field.label}}:</label><br>
                    <input type="text" placeholder={{field.placeholder}}>
                </td>

                <td ng-if="field.type=='EMAIL'">
                    <label>{{field.label}}:</label><br>
                    <input type="email" placeholder={{field.placeholder}}>
                </td>

                <td ng-if="field.type=='TEXTAREA'">
                    <label>{{field.label}}:</label><br>
                    <input type="textarea" placeholder={{field.placeholder}}>
                </td>

                <td ng-if="field.type=='DATE'">
                    <label>{{field.label}}:</label><br>
                    <input type="data" placeholder={{field.placeholder}}>
                </td>

                <td ng-if="field.type=='CHECKBOXES'">
                    <label>{{field.label}}:</label><br>

                    <div class="form-group" ng-repeat="option in field.options">
                        <input type="checkbox" value="{{option.value}}"> {{option.label}}
                    </div>
                </td>

                <td ng-if="field.type=='OPTIONS'">
                    <label>{{field.label}}:</label><br>
                    <select>
                        <option ng-repeat="option in field.options"
                                value={{option.value}}>
                            {{option.label}}
                        </option>
                    </select>
                </td>

                <td ng-if="field.type=='RADIOS'">
                    <label>{{field.label}}:</label><br>
                    <div class="form-group" ng-repeat="option in field.options">
                        <input type="radio" value={{option.value}}>
                        {{option.label}}
                    </div>
                </td>

                <td>
                    <button class="btn btn-info"
                            uib-popover-template="dynamicPopover.templateUrl"
                            popover-title={{field.type}}>
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <button class="btn btn-info" ng-click="">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                    <button class="btn btn-danger" ng-click="removeField(field)">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                    <a type="button" class="btn btn-info">
                        <span class="glyphicon glyphicon-align-justify"></span>
                    </a>
                </td>

            </tr>

            </tbody>

        </table>
    </form>


    <!--Javascript / Angular Section-->
    <script>
        $(function () {
            $("#tbody-sortable").sortable();
        });
    </script>

    <script type="text/ng-template" id="fieldPopover">
        <div class="form-group">
            <label>Lable:</label>
            <input type="text" ng-model="field.label" class="form-control">
        </div>
        <div class="form-group" ng-show="field.type==='TEXT'||field.type==='TEXTAREA'">
            <label>Placeholder:</label>
            <input type="text" ng-model="field.placeholder" class="form-control">
        </div>
        <div class="form-group" ng-show="field.type==='CHECKBOXES'||field.type==='OPTIONS'||field.type==='RADIOS'">
            <label>Options:</label>
            <textarea ng-model="userOptions.text"></textarea>
        </div>

        <div class="form-group">
            <button class="btn btn-primary" ng-click="updateField(field)">Ok</button>
        </div>
    </script>
    <!--End of JS / Angular Section-->

</div>
