<!--Navigation Bar-->
<nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Coursera</a>
        </div>

        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
        </ul>
        <ul class="nav navbar-nav pull-right">
            <li ng-hide="currentUser"><a href="#/register">Register</a></li>
            <li ng-hide="currentUser"><a href="#/login">Login</a></li>
            <li ng-show="currentUser"><a href="#">UserName</a></li>
            <li ng-show="currentUser"><a href="#">Sign Out</a></li>
        </ul>
    </div>
</nav>