.search-mid {
    margin-top: 10%;
}

.navbar-fixed-bottom {
    min-height: 100px;
}

.sidebar-backround {
    background-color: whitesmoke;
    padding-top: 40px;
    padding-bottom: 10%;
}

.search-padding {
    margin-top: 5%;
    border: groove;
}

.student-course-block {
    /*margin-top: 5%;*/
    padding: 5px;
    border: groove;
    text-align: justify;
    text-justify: inter-word;
}