<div ng-controller="FormsController">

    <h2 class="page-header">Forms</h2>

    <!--message label area-->
    <div ng-show="model.error" class="alert alert-danger" role="alert">{{model.error}}</div>

    <!--tabs -->
    <ul class="nav nav-tabs">
        <li ng-class="{'active' : $location.url() == '/form'}">
            <a href="#/form">Form</a></li>
        <li ng-class="{'active' : $location.url() == '/fields'}">
            <a href="#/fields">Fields</a></li>
    </ul>

    <!--table implementation-->
    <table class="table table-striped table-hover">
        <!--table head-->
        <thead>
        <tr>
            <th>Form Name</th>
            <th>Action</th>
        </tr>

        <tr>
            <th><input ng-model="form.title" class="form-control"/></th>
            <th>
                <button ng-click="model.addForm(form)"
                        class="btn btn-primary">
                    <span class="glyphicon glyphicon-plus"></span></button>
                <button ng-click="model.updateForm(form)"
                        class="btn btn-success">
                    <span class="glyphicon glyphicon-ok"></span></button>
            </th>
        </tr>
        </thead>

        <!--table body-->
        <tbody>
        <tr ng-repeat="form in model.forms" ng-show="form.userId == model.currentUser._id">

            <td ng-click="model.redirectToField(model.forms[$index])">
                <a>{{form.title}}</a>
            </td>

            <td>
                <!--<button ng-click="deleteForm($index)" class="btn btn-danger"><span-->
                <button ng-click="model.deleteForm(model.forms[$index])" class="btn btn-danger"><span
                        class="glyphicon glyphicon-remove"></span></button>
                <button ng-click="model.selectForm(model.forms[$index])" class="btn btn-info"><span
                        class="glyphicon glyphicon-pencil"></span></button>
            </td>
        </tr>
        </tbody>

    </table>
</div>
