<header class="header-image">
    <div class="headline">
        <div class="container">
            <!--<h1>Coursera !</h1>-->
            <div class="col-sm-8 col-sm-offset-2">
                <div class="input-group">
                    <input ng-model="model.searchKey"
                           type="text" class="form-control input-lg" placeholder="Search youtube to add more videos...">
                <span class="input-group-btn">
                    <button ng-click="model.searchYoutubeResults(model.searchKey)"
                            class="btn btn-danger btn-lg" type="button"><b>Search Youtube!</b></button></span>
                </div><!-- /input-group -->
            </div>
        </div>
    </div>
</header>

<hr class="button-divider">

<div class="container">
    <div class="col-sm-6 col-sm-offset-3">
        <h3><i>Search for lecture videos here..</i></h3>
        <h4><i>Results would include both videos and playlists, that can be added to any of your courses with the click of a button !</i></h4>
    </div>
</div>



