<header class="header-image">
    <div class="headline">
        <div class="container">
            <!--<h1>Coursera !</h1>-->
            <h2>Welcome, {{model.currentStudent.name}} !</h2>
        </div>
    </div>
</header>

<div class="container">

    <hr div="button-divider">



    <div class="container">
        <!--<h1>Coursera !</h1>-->
        <!--<h2>Search Course Catalog</h2>-->
        <div class="col-sm-8 col-sm-offset-2">
            <div class="input-group">
                <input ng-model="model.searchKey"
                       type="text" class="form-control input-lg" placeholder="Start browsing the course catalog..">
                <span class="input-group-btn">
                    <button ng-click="model.searchCatalog(model.searchKey)"
                            class="btn btn-success btn-lg" type="button"><b>Search !</b></button></span>
            </div><!-- /input-group -->
        </div>
    </div>

    <hr div="button-divider">

    <div class="row">

        <div class="col-sm-4">

        </div>

        <div class="col-sm-8">

            <div class="panel panel-default">

                <div class="panel-heading">
                    <h3>List of courses</h3>
                </div>

                <div class="panel-body">
                    <div ng-repeat="course in model.courses">
                        <h3><a href="{{course.url}}">{{course.name}}</a></h3>
                        <h5>{{course.description}}</h5>
                        <!--<h4>{{course.url}}</h4>-->
                    </div>
                </div>

                <div class="panel-footer"></div>

            </div>

        </div>

    </div>

    <!--<h3>Hello! {{model.currentStudent.name}}</h3>-->

    <!--<h3>List of courses</h3>-->
    <!--<div ng-repeat="course in model.courses">-->
        <!--<h3><a href="{{course.url}}">{{course.name}}</a></h3>-->
        <!--<h5>{{course.description}}</h5>-->
        <!--<h4>{{course.url}}</h4>-->
    <!--</div>-->

    <!--<div class="col-sm-6 col-md-6 col-lg-6 search-mid">-->
    <!--<div class="input-group">-->
    <!--<input ng-model="model.searchKey"-->
    <!--type="text" class="form-control" placeholder="Search catalog...">-->
    <!--<span class="input-group-btn">-->
    <!--<button ng-click="model.searchCatalog(model.searchKey)"-->
    <!--class="btn btn-primary" type="button"><b>Go !</b></button></span>-->
    <!--</div>&lt;!&ndash; /input-group &ndash;&gt;-->
    <!--</div>-->

</div>
