
    <h3>CoursePage</h3>
    <div class="row">
        <button ng-click="model.addCourse()" class="btn btn-primary pull-right">Add Course</button>
    </div>
    <hr>
    <div class="row">
        <button ng-click="model.removeCourse()" class="btn btn-danger pull-right">Remove Course</button>
    </div>

    <h3>{{model.course.name}}</h3>
    <h5>{{model.course.description}}</h5>
    <h4>{{model.course.likes}}</h4>
    <div ng-repeat="video in model.course.videos">
        <!--<h5>{{video}}</h5>-->
        <h4 ng-click="model.redirectToContent($index)"><a href="#">{{video.title}}</a></h4>
        <h5>{{video.description}}</h5>
    </div>

