<h3>Hello! {{model.currentStudent.name}}</h3>

<h3>List of courses</h3>
<h3 ng-repeat="course in model.courses">
    {{course}}
</h3>

<div class="col-sm-6 col-md-6 col-lg-6 search-mid">
    <div class="input-group">
        <input ng-model="model.searchKey"
               type="text" class="form-control" placeholder="Search catalog...">
                <span class="input-group-btn">
                    <button ng-click="model.searchCatalog(model.searchKey)"
                            class="btn btn-primary" type="button"><b>Go !</b></button></span>
    </div><!-- /input-group -->
</div>

