<div class="row">
    <div class="col-sm-3 col-md-2 col-lg-2 sidebar-backround">

        <ul class="nav nav-pills nav-stacked">
            <li class="active"><a href="#">Profile</a></li>
            <li><a href="#/studentcourses">Courses</a></li>
        </ul>
    </div>


    <div class="col-sm-9 col-md-10 col-lg-10 main">
        <!--<div class="col-sm-9 col-md-10 col-lg-10 main">-->

        <h2>Welcome {{user}} !</h2>

        <h3>Introduction</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a lectus et ex aliquet vulputate ut quis erat.
            Sed sodales euismod risus, vel luctus massa viverra eu. Nulla imperdiet laoreet turpis, et tincidunt risus
            lobortis vel. Donec quis tortor nunc. Vivamus gravida tincidunt enim, et varius dui lobortis vel. Phasellus
            consectetur arcu luctus ex commodo commodo. Quisque viverra finibus urna quis scelerisque. Nulla ut luctus
            leo, nec euismod erat. Etiam ac interdum neque, vel pretium sapien.</p>
        <h3>Course Description</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas euismod nulla nibh, egestas mollis justo
            vestibulum a. Aliquam vitae eros at est pharetra viverra. Aliquam ac mollis nulla. Nam lacus purus,
            hendrerit ac faucibus eget, sodales id lectus. Interdum et malesuada fames ac ante ipsum primis in faucibus.
            Etiam est purus, pharetra quis urna in, lobortis lacinia dolor. Quisque venenatis, elit eget bibendum
            imperdiet, eros enim consectetur urna, eget facilisis turpis urna vitae metus. Praesent porta, erat in
            sagittis lacinia, neque elit sodales nisl, vel volutpat risus lacus nec ante. Curabitur hendrerit orci quis
            interdum placerat. Nulla facilisi. Integer efficitur nec odio et fringilla. Cras consequat auctor fringilla.

            Aenean non nulla sit amet quam tincidunt feugiat ut in urna. In hac habitasse platea dictumst. Suspendisse
            potenti. Aenean ac lacinia metus, nec mattis turpis. Maecenas sollicitudin erat ex, vitae vehicula tortor
            pharetra vitae. Praesent finibus facilisis nulla, ac egestas arcu laoreet bibendum. Quisque nec mi a dui
            interdum efficitur a a tellus. In dignissim tristique ante, non rutrum ante iaculis id. Etiam sit amet elit
            id metus porta hendrerit eu sollicitudin magna. Nullam eu placerat enim, at viverra massa. Vestibulum ante
            ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu tortor leo. Nam luctus urna at
            sodales laoreet. Donec commodo elit purus, vitae maximus nibh consequat ac.</p>
        <h3>Syllabus</h3>
        <ul>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
            <li>Donec vel purus eu sem laoreet malesuada.</li>
            <li>Sed commodo massa et eros pharetra, sit amet gravida nibh euismod.
                Nullam eleifend lectus eget elit sollicitudin posuere.
                Donec egestas mauris ut massa tempor posuere.
                Vestibulum eu sem dictum justo ornare convallis.
            </li>
            <li>Morbi hendrerit elit eu bibendum lobortis.
            Quisque eleifend nisi in sem euismod, vel venenatis nisi accumsan.
            Nullam vitae est facilisis, auctor magna nec, hendrerit est.
            Aliquam eget quam lacinia, condimentum lacus eget, elementum lectus.
            Fusce bibendum metus ac odio tincidunt lobortis in quis erat.</li>
            <li>Cras porta quam a hendrerit ornare.</li>
            <li>Proin aliquam felis sit amet felis tincidunt, malesuada malesuada felis accumsan.
            Mauris hendrerit orci id nulla bibendum, nec semper turpis ultricies.
            Phasellus rutrum mauris sed nisl imperdiet, ut imperdiet arcu fringilla.
            Proin consequat lorem vel dui placerat luctus.
            Morbi eu metus et nisi luctus facilisis.</li>
        </ul>
    </div>
</div>



