<div class="row">
    <div class="col-sm-3 col-md-2 col-lg-2 sidebar">
        <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Profile <span class="sr-only">(current)</span></a></li>
            <li><a href="#">Courses</a></li>
        </ul>
    </div>
    <div class="col-xs-12
    col-sm-9 col-sm-offset-3
    col-md-10 col-md-offset-2
    col-lg-10 col-lg-offset-0 main">
        <!--<div class="col-sm-9 col-md-10 col-lg-10 main">-->
        Main Content
    </div>
</div>



